body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block; /* tira o espaço que tem entre uma img e outra*/
  max-width: 100%
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex; /* coloca uma imagem ao lado da outra*/
}

.slide:hover {
  will-change: transform; /* vai mudar o transform*/
}

.slide li {
  flex-shrink: 0; /* nao diminui o tamanho pra caber dentro da tela*/
  width: 80vw; /* significa 80% da tela, vw = virtual width*/
  max-width: 800px;
  margin: 0 20px; /* uma margem entre uma figura e outra*/

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8); /* diminui o tamanho*/
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control="slide"] {
  display: flex; /* fica um ao lado do outro */
  justify-content: center;
  margin-top: 20px;
}

[data-control="slide"] li a{
  display: block;
  width: 12px;
  height: 12px;
  background: #fb5;
  border-radius: 50%; /* transforma em circulo */
  overflow: hidden; /* esconde os numeros */
  text-indent: -999px; /* faz sair da tela, pois estou movendo pra uma area fora*/
  margin: 5px;
}

[data-control="slide"] li.active a, [data-control="slide"] li a:hover{
  background: #e54;
}

.custom-controls {
  display: flex; /* para ficar uma foto de cada lado */
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* caso estoure o container vai quebrar, se nao colocar isso, apenas diminui o tamanho das imagens para caber*/
}

.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; /* precisa para a propriedade acima border-radius: 50%; funcionar e transformar em um circulo a img*/
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  transition: .3s; /* para a bolinha crescer*/
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around; /* vai criar um espaço em volta delas */
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #fb5 url('../img/arrow.svg') center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg); /* gira o button prev no sentido contrario, mudando a seta de sentido*/
}